<% if @redirect_url%>
    <input name='redirect_url' type='hidden' value=<%=@redirect_url%> readonly class='form-control'>
<% end%>

<div class="form-slide">
  <div class="form-group">
    <%= m.label t('title'), class: "control-label" %>
    <%= m.text_field :title, class: "form-control", 'data-validation':"required" %>
  </div>

  <div class="form-group">
    <%= m.label t('description'), class: "control-label" %>
    <%= m.text_area :description, class: "form-control", 'data-validation':"required" %>
  </div>

  <div class="row">
    <div class="form-group col-xs-6">
      <%=  m.label t('icon'), class: "control-label" %>
      <button name="collection[icon]" class="btn btn-default" role="iconpicker" data-icon="glyphicon-flag"></button>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-xs-6">
      <%= m.label t('collections.new.templates.template'), class: "control-label" %>
    </div>
    <div class="form-group col-xs-3">
      <%= m.label t('collections.new.templates.days'), class: "control-label" %>
    </div>
  </div>

  <div id="tempTable">
    <input type="hidden" id="count" name="count" value="0">

  </div>


  <div class="row">
    <div class="form-group col-xs-6">
      <%= select_tag(:template, options_from_collection_for_select(@templates, :id, :title), :multiple => false,
                     class: "chzn-select", id: "tName",'data-placeholder'=> t('collections.new.templates.select'), 'style'=> 'width:100%') %>
    </div>
    <div class="form-group col-xs-3">
      <%= number_field_tag 'days', 0, in: 0...5000, id: "tDay" %>
    </div>
    <div class="form-group col-xs-3">
      <p id="addTemp" style="background-color: lightgrey;" ><b>Add</b></p>
    </div>
  </div>



  <%= m.button t('collections.new.submit'), :type => 'submit', class: "btn btn-default" %>
</div>

<script>
    $("#addTemp").click(function() {
        var select = document.getElementById("tName");
        var selectValue = select.value;
        var selectText = select.options[select.selectedIndex].text;
        var days = document.getElementById("tDay").value;
        var count = document.getElementById("count");

        count.value = parseInt(count.value) +1;

        $("#tempTable").append("<div class=\"row\" id=\"row"+count.value+"\"> <div class=\"form-group col-xs-6\"> <input type=\"hidden\" name=\"temp"+count.value+"\" value=\""+selectValue+"\"> <input type=\"text\" name=\"temp"+count.value+"Text\" value=\""+selectText+"\" disabled> </div> <div class=\"form-group col-xs-3\"> <input type=\"number\" name=\"days"+count.value+"\" value=\""+days+"\" disabled> </div> <div class=\"form-group col-xs-3\"> <p class=\"rmTemp\" value=\""+count.value+"\" style=\"background-color: red;\" ><b>Remove</b></p> </div> </div>")

    });
    $(document).on('click', ".rmTemp", function(e) {
        $("#tempTable").append($(this).attr("value"));
        $("#row"+$(this).attr("value")).remove();
    });
</script>