<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="table-container table-difrows">
        <h1>
          <%= link_to new_collection_path do%>
              <span class='large-text glyphicon glyphicon-plus table-add-button pull-left'>  </span>
          <% end %>
          <%= t('collections.header') %></h1>
        <table class="table datatable table-striped" id="colecciones" data-info="false">
          <thead>
          <tr class="title_row" >
            <th><%= t('description') %></th>
            <th><%= t('collections.templates') %></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @collections.each do |m| %>
              <tr>
                <td>
                  <%= link_to collection_path(m), method: :get do %>
                    <%= m.title%>
                  <% end %>
                  <p>
                    <%= m.description %>
                  </p>
                </td>

                <td>
                  <ul class="list-inline">
                  <% m.collection_templates.each do |c| %>
                        <% if c.days %>
                            <li><%= "#{c.template.title} (#{c.days})" %></li>
                        <% else %>
                            <li><%= "#{c.template.title}" %></li>
                        <% end %>
                  <% end %>
                  </ul>
                </td>
                <td class="actions">
                  <%= link_to collections_destroy_path(id: m.id),
                              data: { confirm: t('collections.delete.sure') } do %>
                      <span class='large-text glyphicon glyphicon-trash'></span>
                  <% end %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>

      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>

