<div class="container">
  <div class="row">
    <div class="card-col col-xs-8 col-xs-offset-2">

      <form action='adddrive' class='main-form'>
        <h1> <%=t(:attachgoogledrivedoc) %> </h1>
        <input name='milestone_id' type='hidden' value=<%=@milestone_id%> readonly class='form-control'>
        <% if @redirect_url%>
            <input name='redirect_url' type='hidden' value=<%=@redirect_url%> readonly class='form-control'>
        <% end%>

        <label for='URL' class='control-label'> <%=t(:documenturl)%> </label>


        <% if params[:error] %>
            <div id="div" class="form-group has-error">
        <% else %>
            <div id="div" class="form-group">
        <% end %>
            <input id='url' type='input' name='URL' class='form-control' data-validation="required">
            <% if params[:error] %>
              <span id="msj" class="help-block form-error"><%= t(:invalidurl) %></span>
            <% end %>

        <% if params[:error] %>
            </div>
        <% else %>
            </div>
        <% end %>

        <button type='submit' class='btn btn-default'><%=t(:attach)%></button>
      </form>

    </div>
  </div>
</div>

<script>
    $(document).ready(function () {
        $('#url').click(function () {
            var div =document.getElementById("div");
            var msj =document.getElementById("msj");

            div.setAttribute("class", "form-group");
            if (msj!=null)
                msj.innerHTML="";
        });
    });
</script>