<%= form_for :person, url:people_path do |f| %>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :email1 %><br>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :celphone %><br>
      <%= f.text_field :celphone %>
    </div>
    <div class="field">
      <%= f.label :phone %><br>
      <%= f.text_field :phone %>
    </div>
    <div class="field">
      <%= f.label :birth_date %><br>
      <%= f.text_field :birth_date %>
    </div>
    <div class="field">
      <%= f.label :init_date %><br>
      <%= f.text_field :init_date %>
    </div>
    <div class="field">
      <%= f.label :finish_date %><br>
      <%= f.text_field :finish_date %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
