<p>
  <strong><%= t('note') %>:</strong>
  <%= note.text %>
</p>

<p>
  <strong><%= t('note_author') %>:</strong>
  <%= Person.find(note.author_id).name %>
</p>

<p>
  <strong><%= t('note_created') %>:</strong>
  <%= note.created_at %>
</p>
<p>
  <strong><%= t('note_updated') %>:</strong>
  <%= note.updated_at %>
</p>
<p>
  <strong><%= t('note_visibility') %>:</strong>
  <%= t(note.visibility) %>
</p>
<p>
  <strong><%= t('milestone') %>:</strong>
  <%= note.milestone_id %>
</p>

<p>
  <%= link_to t('note_delete'), [note.milestone, note],
              method: :delete,
              data: { confirm: t('sure?')} %>
</p>