<p>
  <strong><%= 'Note' %>:</strong>
  <%= note.text %>
</p>

<p>
  <strong><%= 'Author' %>:</strong>
  <%= Person.find(note.author_id).name %>
</p>

<p>
  <strong><%= 'Created_at' %>:</strong>
  <%= note.created_at %>
</p>
<p>
  <strong><%= 'updated_at' %>:</strong>
  <%= note.updated_at %>
</p>
<p>
  <strong><%= 'visibility' %>:</strong>
  <%= note.visibility %>
</p>
<p>
  <strong><%= 'milestone_id' %>:</strong>
  <%= note.milestone_id %>
</p>

<p>
  <%= link_to 'Delete Note', [note.milestone, note],
              method: :delete,
              data: { confirm:'Are you sure?'} %>
</p>