

<%= form_for [@person, @person.milestones.build], html: { class:'timeline-form main-form slide-on-click clearfix','data-toggle': 'validator'}  do |m| %>
    <h1 class=""><span class="glyphicon glyphicon-check"></span> <%= t('mil_create') %></h1>
    <div class="form-slide">
        <div class="form-group">
          <%= m.label t('mil_title'), class: "control-label" %>
          <%= m.text_field :title, class: "form-control", 'data-validation':"required" %>
        </div>

        <div class="form-group">
          <%= m.label t('mil_description'), class: "control-label" %>
          <%= m.text_field :description, class: "form-control", 'data-validation':"required" %>
        </div>


        <div class="row">
          <div class="form-group col-xs-6">
            <%= m.label t('mil_status'), class: "control-label" %>
            <%= m.text_field :status, class: "form-control", 'data-validation': "status" %>
            <%= t('values')+': rejected, pending, done' %>
          </div>



          <div class="form-group col-xs-6">
            <%=  m.label t('mil_icon'), class: "control-label" %>
            <%=  m.text_area :icon, class: "form-control" %>
          </div>
        </div>
        <div> <%=t('category')%>
          <tr><td><select name="category_id">
            <option value=<%=nil%> > Ninguna </option>
            <% Category.all.each do |ca| %>
              <option value=<%=ca.id%> > <%=ca.name%></option>
            <% end %>
          </select></td></tr>
        </div>

        <div class="row">

          <div class="form-group col-xs-6">
            <%= m.label t('mil_start_date'), class: "control-label" %>
            <div class="input-group">
              <%= m.text_field :start_date, id: 'start_date', class: "form-control", "data-provide":"datepicker", 'data-validation':'check_start_date' ,'data-validation-format': "dd/mm/yyyy"%>
              <div class="input-group-addon"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></div>
            </div>
          </div>

          <div class="form-group col-xs-6">
            <%= m.label t('mil_due_date'), class: "control-label" %>
            <div class="input-group">
              <%= m.text_field :due_date, id: 'due_date', class: "form-control", "data-provide":"datepicker", 'data-validation':'check_due_date', 'data-validation-format': "dd/mm/yyyy"%>
              <div class="input-group-addon"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></div>
            </div>
          </div>

        </div>
        <div class="row">

          <div class="form-group col-xs-12">
            <%= m.label 'Tags', class: "control-label" %>

            <%= select_tag(:tags, options_from_collection_for_select(@tags, :id, :name), :multiple => true, class: "chzn-select", 'data-placeholder'=> t('select_tags'), 'style'=> 'width:100%') %>

          </div>
          <div class="form-group col-xs-12">
            <%= m.label t('assign_to'), class: "control-label" %>:<br>
            (<%= @person.name+t('mil_assigned') %>)
            <%= select_tag(:people, options_from_collection_for_select(@people, :id, :name), :multiple => true, class: "chzn-select", 'data-placeholder'=> t('select_people'), 'style'=> 'width:100%') %>
            <%= m.hidden_field(:created_at, :value=>Time.now) %>
            <%= m.hidden_field(:updated_at, :value=>Time.now) %>
            <br><br>
            <div>
            <%= m.button t('mil_create'), :type => 'submit', class: "btn btn-default" %>
            </div>
          </div>

        </div>


    </div>
<% end %>
<script> $(".chzn-select").chosen();</script>
<script>
  // Add custom validation rule
  $.formUtils.addValidator({
    name : 'check_start_date',
    validatorFunction : function() {
      var start=document.getElementById('start_date').value;
      if (start=='') return true;
      var parts= start.split('/');
      var start_year= parts[2];
      var start_month= parts[1]-1;
      var start_day= parts[0];
      var date=new Date();
      var start_date=new Date(start_year, start_month, start_day,23,59,59);
      return start_date>=date;

    },
    errorMessage : '',
    errorMessageKey: 'badStartDate'
  });

  // Setup form validation
  $.validate();
</script>

<script>

  // Add custom validation rule
  $.formUtils.addValidator({
    name : 'check_due_date',
    validatorFunction : function() {
      var due=document.getElementById('due_date').value;
      if (due=='') return true;
      var parts= due.split('/');
      var due_year= parts[2];
      var due_month= parts[1]-1;
      var due_day= parts[0];
      var due_date=new Date(due_year, due_month, due_day,23,59,59);
      var start=document.getElementById('start_date').value;
      var parts= start.split('/');
      var start_year= parts[2];
      var start_month= parts[1]-1;
      var start_day= parts[0];
      var start_date=new Date(start_year, start_month, start_day,23,59,59);
      var date=new Date();
      return due_date>=date && start_date<due_date;
    },
    errorMessage : '',
    errorMessageKey: 'badDueDate'
  });
  // Setup form validation
  $.validate();
</script>

<script>

  // Add custom validation rule
  $.formUtils.addValidator({
    name : 'status',
    validatorFunction : function(status) {
      return (status=='pending')||(status=='done')||(status=='rejected');
    },
    errorMessage : '',
    errorMessageKey: 'badStatus'
  });

  // Setup form validation
  $.validate();

</script>