<div id="milestone-info">
  <% if can_modify_milestone?@milestone.id %>
  <%= if @milestone.status != 'rejected'
        milestone_status(@milestone)
      end %>
  <%= milestone_status_rej(@milestone) %>
  <% if can_modify_milestone?(@milestone.id) %>
      <%= link_to edit_milestone_path(@milestone) do %>
          <span class="edit glyphicon glyphicon-edit"></span>
      <% end %>
  <% end %>
  <% end %>

  <div class="left-pane">
    <div class="milestone-icon"><%= milestone_icon(@milestone).html_safe %></div>
    <h2><%= @milestone.title %></h2>
    <% if @milestone.category %>
        <h3><%= @milestone.category.name %></h3>
    <%else%>
        <%= render 'categories/form' %>
    <%end%>
  </div>
  <div class="right-pane">
    <p><%= @milestone.description %></p>
    <p><%=
        if feedback? and @milestone.feedback_author
          @milestone.feedback_author.name
        end
    %></p>


    <div class="date-row editable">
        <% if @milestone.start_date %>
            <div class="calendar right">
              <%= l(@milestone.start_date, format: "%A, %B %d %Y").capitalize %>
            </div>
        <% end %>
        <% if @milestone.due_date %>
            <div class="calendar">
              <%= l(@milestone.due_date, format: "%A, %B %d %Y").capitalize %>
            </div>
        <% end %>
    </div>


        <div class="row edit-form">

          <%= form_for @milestone do |f| %>
              <%= f.hidden_field :category_id %>

          <div class="form-group col-xs-6">
            <%= f.label t('milestones.start_date'), class: "control-label" %>
            <div class="input-group">
              <%= f.text_field :start_date, class: "form-control", id:'start_date' ,value:(@milestone.start_date ? l(@milestone.start_date) : nil), "data-provide":"datepicker", 'data-validation':'date', 'data-validation-format': "dd/mm/yyyy" %>
              <div class="input-group-addon"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></div>
            </div>
          </div>

          <div class="form-group col-xs-6">
            <%= f.label t('milestones.due_date'), class: "control-label" %>
            <div class="input-group">
              <%= f.text_field :due_date, class: "form-control" , id:'due_date',value:(@milestone.due_date ? l(@milestone.due_date) : nil) ,"data-provide":"datepicker", 'data-validation':'check_due_date', 'data-validation-format': "dd/mm/yyyy" %>
              <div class="input-group-addon"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></div>
            </div>
          </div>


          <div class="btn pull-right">
            <%= f.button t('milestones.edit.submit'),:type => 'submit', class: "btn btn-default" %>
          </div>

          <% end %>

        </div>


    <% unless @milestone.tags.empty? %>
        <ul class="tags clearfix">
          <% @milestone.tags.each do |t| %>
              <li><%= t.name %></li>
          <%end%>
        </ul>
    <%end%>

    <div class="last-update">
      <%= t('milestones.last_update') + " " + t('ago_i') +  time_ago_in_words(@milestone.updated_at) + t('ago_f') %>
    </div>

  </div>
</div>
<div >
  <h4><%= t('milestones.assigned_people') %></h4>
  <hr>
  <div id="milestone-asignees" class="row">

    <%@milestone.people.each do |p| %>
        <div class="col-xs-3">
          <a href="<%= person_path(p) %>" class="item">
            <div class="picture">
              <%= person_picture @image_id %>
            </div>
            <div class="info">
              <h2><%= p.name %></h2>
              <h3><%=  t('milestones.no_tech_role') || p.tech_role.name %></h3>
            </div>
          </a>
        </div>
    <%end%>
  </div>
</div>