<div id="milestone-info">
  <% if can_modify_milestone?@milestone.id %>
  <%= if @milestone.status != 'rejected'
        milestone_status(@milestone)
      end %>
  <%= milestone_status_rej(@milestone) %>
  <% if can_modify_milestone?(@milestone.id) %>
      <%= link_to edit_milestone_path(@milestone) do %>
          <span class="edit glyphicon glyphicon-edit"></span>
      <% end %>
  <% end %>
  <% end %>

  <div class="left-pane">
    <div class="milestone-icon"><%= image_tag @milestone.icon %></div>
    <h2><%= @milestone.title %></h2>
    <% if @milestone.category %>
        <h3><%= @milestone.category.name %></h3>
    <%else%>
        <%= render 'categories/form' %>
    <%end%>
  </div>
  <div class="right-pane">
    <p><%= @milestone.description %></p>
    <p><%=
        if feedback? and @milestone.feedback_author
          @milestone.feedback_author.name
        end
    %></p>

    <% if @milestone.start_date %>
        <div class="calendar right">
          <%= l(@milestone.start_date, format: "%A, %B %d %Y").capitalize %>
        </div>
    <% end %>
    <% if @milestone.due_date %>
        <div class="calendar">
          <%= l(@milestone.due_date, format: "%A, %B %d %Y").capitalize %>
        </div>
    <% end %>

    <% unless @milestone.tags.empty? %>
        <ul class="tags clearfix">
          <% @milestone.tags.each do |t| %>
              <li><%= t.name %></li>
          <%end%>
        </ul>
    <%end%>

    <div class="last-update">
      <%= t('milestones.last_update') + " " + t('ago_i') +  time_ago_in_words(@milestone.updated_at) + t('ago_f') %>
    </div>

  </div>


</div>
<div >
  <br>
  <h4><%= t('milestones.assigned_people') %></h4>
  <hr>
  <div id="milestone-asignees" class="row">

    <%@milestone.people.each do |p| %>
        <div class="col-xs-3">
          <a href="<%= person_path(p) %>" class="item">
            <div class="picture">
              <%= person_picture @image_id %>
            </div>
            <div class="info">
              <h2><%= p.name %></h2>
              <h3><%=  t('milestones.no_tech_role') || p.tech_role.name %></h3>
            </div>
          </a>
        </div>
    <%end%>
  </div>
</div>