<div id="milestone-info">
  <% store_return_to %>
  <%= if @milestone.status != 'rejected'
        milestone_status(@milestone)
      end %>
  <%= milestone_status_rej(@milestone) %>

  <div class="left-pane">
    <div class="milestone-icon"><%= image_tag @milestone.icon %></div>
    <h2><%= @milestone.title %></h2>
    <% if @milestone.category %>
        <h3><%= @milestone.category.name %></h3>
    <%else%>
        <%= render 'categories/form' %>
    <%end%>
  </div>
  <div class="right-pane">

    <p><%= @milestone.description %></p>
    <p><%=
        if feedback? and @milestone.feedback_author
          @milestone.feedback_author.name
        end
    %></p>

    <div class="">
      <table>
        <tr><td><%=t('mil_assigned_to')%>:</td></tr>
      <%@milestone.people.each do |p| %>
           <tr><td>
             <%= p.name %>
           </td></tr>
        <%end%>
      </table>
    </div>

    <div class="calendar right">
      <% if @milestone.start_date %>
          <%= l(@milestone.start_date, format: "%A, %B %d %Y").capitalize %><br>
      <% end %>
      <% if @milestone.due_date %>
          <%= l(@milestone.due_date, format: "%A, %B %d %Y").capitalize %>
      <% end %>
    </div>

    <% unless @milestone.tags.empty? %>
        <ul class="tags clearfix">
          <% @milestone.tags.each do |t| %>
              <li><%= t.name %></li>
          <%end%>
        </ul>
    <%end%>
  </div>
</div>