<% unless @notes.empty? %>
    <ul>
      <% @notes.each do |n| %>
          <li class="clearfix">
            <h2><%= n.author.name %></h2>
            <div class="time">hace <%= time_ago_in_words(n.created_at) %></div>
            <p><%= n.text %></p>
            <div class="options">
              <% if current_user_admin? %>
                  <%= link_to [n.milestone, n],
                              method: :delete,
                              data: { confirm: t('notes.delete.sure')},
                              class: 'delete' do %>
                      <div class="glyphicon glyphicon-remove"></div>
                  <% end %>
              <% end %>
              <%= note_visibility_glyphicon(n) %>
            </div>
          </li>
      <% end %>
    </ul>
<% end %>