{"draw": <%= params[:draw] || -1 %>,
"recordsTotal": <%= @total_objects %>,
"recordsFiltered": <%= @total_object %>,
"data":[
<% @milestone.each do |m| %>
    {
        "status":"<%=raw(milestone_status(m,:static).gsub('"', "'")) %>",
        "title":"<%= raw(link_to(m.title, milestone_path(m), method: :get).gsub(/"/, "'") )%>",
        "description":"<%= m.description.truncate(50) %>",
        "categories": "<%= m.category.name %>",
        "people": "<ul><% m.people.order('LOWER(name)').each do |p| %><li><%= p.name %></li><% end %></ul>",
        "tags":"tags",
        "start_date":"start_date",
        "due_date":"due_date",
        "mod_date":"mod_date",
        "actions" :"actions"

    },
<% end %>
    {
        "status":"a",
        "title":"a",
        "description":"b",
        "categories": "c",
        "people": "d",
        "tags":"tags",
        "start_date":"start_date",
        "due_date":"due_date",
        "mod_date":"mod_date",
        "actions" :"actions"

    }

]}