<% provide(:title, "Edit Milestone") %>
<h1>Edit Milestone</h1>

<%= form_for @milestone do |m| %>
<%= params[:controller] %><br>
  <p> 
    <%= m.label t('mil_title') %>:<br>
    <%= m.text_field :title %>
  </p>

  <p>
    <%= m.label t('mil_due_date') %>:<br>
    <%= m.text_area :due_date %>
  </p>
  <%= m.submit t('save')%>
  </p>

<% end %>