<div class="container">
  <div class="row">
    <div class="card-col col-xs-4 col-xs-offset-4">

      <%= form_for @milestone, html: { class:'main-form','data-toggle': 'validator'} do |f| %>
          <h1><%= t('milestone_edit_head') %></h1>

          <div class="form-group">
            <%= f.label t('title'), class: "control-label" %>
            <%= f.text_field :title, class: "form-control", 'data-validation': "required" %>
          </div>

          <div class="form-group">
            <%= f.label t('mil_description'), class: "control-label" %>
            <%= f.text_field :description, class: "form-control", 'data-validation': "required" %>
          </div>

          <div class="form-group">
            <%= f.label t('milestone_category')%>
            <br>
            <%= f.select :category_id, Category.all.collect {|t| [t.name, t.id]}, {}, {:multiple => false, :class => "chzn-select category", 'style'=> 'width:100%'} %>
          </div>

          <div class="form-group feedback_autor" <% if !feedback? then style='display: none;' end%>>

              <%= f.label t('milestone_reviewer')%>
              <br>
              <%= f.select :feedback_author_id, Person.all.collect {|t| [t.name, t.id]}, {}, {:include_blank => true, :multiple => false, :class => "chzn-select select_author", 'style'=> 'width:100%'} %>
          </div>

          <div class="form-group">
            <%= label_tag('Tags', nil, class: 'small_label') %>
            <br>
            <%= select_tag(:tags, options_from_collection_for_select(@tags, :id, :name, @milestone.tags.map { |t| t.id } ), :multiple => true, class: "chzn-select", 'data-placeholder'=> t('select_tags'), 'style'=> 'width:100%') %>
          </div>

          <div class="form-group">
          <% if @people.empty? %>
            <%= f.label t('mil_cannot_assign')%>
          <%else%>
            <%= f.label t('assign_to'), class: "control-label" %>
            <%= select_tag(:people, options_from_collection_for_select(@people, :id, :name), :multiple => true, class: "chzn-select", 'data-placeholder'=> t('select_people'), 'style'=> 'width:100%') %>
          <%end%>
          </div>


        <div class="row">
            <div class="form-group col-xs-6">
              <%= f.label t('mil_due_date'), class: "control-label" %>
              <div class="input-group">
                <%= f.text_field :due_date, class: "form-control", 'value':l(@milestone.due_date), "data-provide":"datepicker", 'data-validation-format': "dd/mm/yyyy" %>
                <div class="input-group-addon"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></div>
              </div>
            </div>
          </div>

          <div class="btn">
            <%= f.button t(:save), options= :type => 'submit', class: "btn btn-default" %>
          </div>
      <% end %>

    </div>
  </div>
</div>

<script>
    $(".chzn-select").chosen();
</script>
<script>
    $('.category').change( function() {
    var selectedValue = $(this).find('option:selected').text();
        if (selectedValue=='Feedback'){
            $('.feedback_autor').show('slow');
        }
        else {
            $('.feedback_autor').hide('slow');
            $('.select_author').val('').trigger("select_author:updated");
        }
    });
</script>