<div class="container">
  <div class="row">
    <div class="card-col col-xs-4 col-xs-offset-4">

      <%= form_for @milestone, html: { class:'main-form','data-toggle': 'validator'} do |f| %>
          <h1><%= t('milestones.edit.header') %></h1>

          <div class="form-group">
            <%= f.label t('milestones.title'), class: "control-label" %>
            <%= f.text_field :title, class: "form-control", 'data-validation': "required" %>
          </div>

          <div class="form-group">
            <%= f.label t('milestones.description'), class: "control-label" %>
            <%= f.text_field :description, class: "form-control", 'data-validation': "required" %>
          </div>


          <div class="form-group">
            <%= f.label t('category')%>
            <br>
            <%= f.select :category_id, @cats, {}, {:multiple => false, :class => "chzn-select category", 'style'=> 'width:100%'} %>
          </div>

          <div class="form-group feedback_autor">
              <%=  f.label t('milestones.reviewer')%>
              <br>
              <%= f.select :feedback_author_id, @authors, {}, {:include_blank => true, :multiple => false, :class => "chzn-select select_author", 'data-placeholder'=> t('milestones.add_feedback_author'), 'style'=> 'width:100%'} %>
          </div>

          <div class="form-group">
            <%= f.label t('milestones.tags'), class: "small_label" %>
            <br>
            <%= select_tag(:tags, options_from_collection_for_select(@tags, :id, :name, @milestone.tags.map { |t| t.id } ), :multiple => true, class: "chzn-select", 'data-placeholder'=> t('milestones.select_tags'), 'style'=> 'width:100%') %>
          </div>

          <div class="form-group">
          <% if @people.empty? %>
            <%= f.label t('milestones.cannot_assign')%>
          <%else%>
            <%= f.label t('milestones.assign_to'), class: "control-label" %>
            <%= select_tag(:people, options_from_collection_for_select(@people, :id, :name), :multiple => true, class: "chzn-select", 'data-placeholder'=> t('milestones.select_people'), 'style'=> 'width:100%') %>
          <%end%>
          </div>


        <div class="row">

          <div class="form-group col-xs-6">
            <%= f.label t('milestones.start_date'), class: "control-label" %>
            <div class="input-group">
              <%if @milestone.start_date==nil %>
                <%= f.text_field :start_date, class: "form-control", id:'start_date' ,"data-provide":"datepicker", 'data-validation':'check_start_date','data-validation-format': "dd/mm/yyyy" %>
              <%else%>
                <%= f.text_field :start_date, class: "form-control", id:'start_date' ,'value':l(@milestone.start_date), "data-provide":"datepicker", 'data-validation':'check_start_date', 'data-validation-format': "dd/mm/yyyy" %>
              <%end%>
              <div class="input-group-addon"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></div>
            </div>
          </div>

          <div class="form-group col-xs-6">
              <%= f.label t('milestones.due_date'), class: "control-label" %>
              <div class="input-group">
                <%if @milestone.due_date==nil %>
                 <%= f.text_field :due_date, class: "form-control", id:'due_date' ,"data-provide":"datepicker", 'data-validation':'check_due_date', 'data-validation-format': "dd/mm/yyyy" %>
                <%else%>
                  <%= f.text_field :due_date, class: "form-control", id:'due_date' ,'value':l(@milestone.due_date), "data-provide":"datepicker", 'data-validation':'check_due_date','data-validation-format': "dd/mm/yyyy" %>
                <%end%>
                <div class="input-group-addon"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></div>
              </div>
          </div>

        </div>

          <div class="btn">
            <%= f.button t('milestones.edit.submit'),:type => 'submit', class: "btn btn-default" %>
          </div>
      <% end %>

    </div>
  </div>
</div>

<script>
    $(".chzn-select").chosen();
    if ($('.category').val()!=2) {
        $('.feedback_autor').hide();
    }

</script>
<script>
    $('.category').change( function() {
    var selectedValue = $(this).find('option:selected').text();
        if (selectedValue=='Feedback'){
            $('.feedback_autor').show('slow');
        }
        else {
            $('.feedback_autor').hide('slow');
            $('.select_author').val('').trigger("select_author:updated");
        }
    });
    $().ready(function(){
        $('.category').trigger('change');
    })
</script>

<script>
  // Add custom validation rule
  $.formUtils.addValidator({
    name : 'check_start_date',
    validatorFunction : function() {
      var start=document.getElementById('start_date').value;
      if (start=='') return true;
      var parts= start.split('/');
      var start_year= parts[2];
      var start_month= parts[1]-1;
      var start_day= parts[0];
      var date=new Date();
      var start_date=new Date(start_year, start_month, start_day,23,59,59);
      return start_date>=date;

    },
    errorMessage : '',
    errorMessageKey: 'badStartDate'
  });

  // Setup form validation
  $.validate();
</script>

<script>
  // Add custom validation rule
  $.formUtils.addValidator({
    name : 'check_due_date',
    validatorFunction : function() {
      var due=document.getElementById('due_date').value;
      if (due=='') return true;
      var parts= due.split('/');
      var due_year= parts[2];
      var due_month= parts[1]-1;
      var due_day= parts[0];
      var due_date=new Date(due_year, due_month, due_day,23,59,59);
      var start=document.getElementById('start_date').value;
      var parts= start.split('/');
      var start_year= parts[2];
      var start_month= parts[1]-1;
      var start_day= parts[0];
      var start_date=new Date(start_year, start_month, start_day,23,59,59);
      var date=new Date();
      return due_date>=date && (start=='' || start_date<due_date);
    },
    errorMessage : '',
    errorMessageKey: 'badDueDate'
  });
  // Setup form validation
  $.validate();
</script>
