<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="table-container">
        <h1>
          <%= link_to new_milestone_path do%>
              <span class='large-text glyphicon glyphicon-plus table-add-button pull-left'>  </span>
          <% end %>
          <%= t('milestones.header') %></h1>
        <table class="table datatable table-striped" id="hitos" data-info="false">
          <thead>
          <tr>
            <td><%= t('milestones.state_title') %></td>
            <td class="title_row" ><%= t('milestones.title') %></td>
            <td class="description_row"><%= t('milestones.description') %></td>
            <td><%= t('milestones.category') %></td>
            <% if current_user_admin? %>
                <td><%= t('milestones.people') %></td>
            <% end %>
            <td><%= t('milestones.tags') %></td>
            <% if current_user_admin? %>
                <td><%= t('milestones.start_date') %></td>
            <% end %>
            <td><%= t('milestones.due_date') %></td>
            <td><%= t('milestones.actions') %></td>
          </tr>
          </thead>
          <tbody>
          <% @milestone.each do |m| %>
              <tr>
                <td><% if can_modify_milestone?m.id %>
                      <%= milestone_status_rej(m,:static) %>
                      <%= if m.status != 'rejected'
                            milestone_status(m,:static)
                          end %>
                  <% end %>
                </td>
                <% if (m.status == 'rejected') || (m.status == 'done')  %>
                    <td class="description_row" style="text-decoration: line-through;">
                      <%= link_to m.title, milestone_path(m), method: :get%>
                    </td>
                <% else %>
                    <td class="description_row">
                      <%= link_to m.title, milestone_path(m), method: :get%>
                    </td>
                <% end %>
                <td class="description_row">
                  <%= m.description.truncate(50) %>
                </td>
                <td  class="category_row" >
                  <%= m.category.name %>
                </td>
                <% if current_user_admin? %>
                    <td>
                      <ul>
                        <% m.people.each do |p| %>
                            <li><%= link_to p.name, person_path(p.id), method: :get %></li>
                        <% end %>
                      </ul>
                    </td>
                <% end %>
                <td class="tags_row">
                  <ul class="">
                  <% m.tags.each do |t| %>
                      <li><%= t.name %></li>
                  <% end %>
                  </ul>
                </td>
                <% if current_user_admin? %>
                    <td>
                      <% if m.start_date != nil %>
                           <div class="calendar left"><%= m.start_date %></div>
                      <% end %>
                    </td>
                <% end %>
                <td>
                  <% if m.due_date != nil %>
                    <div class="calendar left"><%= m.due_date %></div>
                  <% end %>
                </td>


                <td>
                  <% if can_modify_milestone? m.id %>
                      <%= link_to edit_milestone_path(m) do%>
                          <span class='large-text glyphicon glyphicon-pencil'></span>
                      <% end %>
                  <% end %>
                  
                  <% if current_user_admin? %>
                    <%= link_to milestone_path(m),
                                  method: :delete,
                                  data: { confirm: t('milestones.delete.sure') } do %>
                          <span class='large-text glyphicon glyphicon-trash'></span>
                      <% end %>
                  <%end%>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>

