<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <div class="table-container">
        <h1><%= t('milestones') %></h1>
        <table class="table datatable">
          <thead>
              <tr>
                <td></td>
                <td>Nombre</td>
                <td>Descripción</td>
                <td>Fecha límite</td>
              </tr>
          </thead>
          <tbody>
          <% @milestone.each do |m| %>
              <tr>
                <% store_return_to %>
                <td><%= milestone_status_rej(m,:static) %>
                <%= if m.status != 'rejected'
                      milestone_status(m,:static)
                    end %></td>

                <td><%= link_to m.title, milestone_path(m), method: :get%></td>
                <td><%= m.description.truncate(50) %></td>
                <td><div class="calendar left"><%= m.due_date %></div></td>
                <% if can_modify_milestone? m.id %>
                <td><%= link_to edit_milestone_path(m) do%>
                    <span class='large-text glyphicon glyphicon-pencil'></span>
                  <% end %>
                </td>
                <td><%= link_to milestone_path(m),
                                method: :delete,
                                data: { confirm: t('mil_sure?') } do %>
                      <span class='large-text glyphicon glyphicon-remove'></span>
                      <% end %>
                </td>
                <%end%>

              </tr>
          <% end %>
          </tbody>
        </table>
      </div>


    </div>
  </div>
</div>
