<div class="container">
  <form class="row milestone-filters slide-on-click clearfix toggle-disabled">

    <h1 class=""><span class="glyphicon glyphicon-filter"></span> <%= t('filters')%> </h1>
    <div class="form-slide">


      <div class="row">

        <div class="form-group col-xs-2">
          <%= label_tag :due_date_from, t('milestones.due_date') + ' ' + t('from'), class: "control-label" %>

          <%= text_field_tag :due_date_from,nil, {class: "form-control", id:'due_date_from' ,"data-provide":"datepicker", 'data-validation-format': "dd/mm/yyyy"} %>
        </div>

        <div class="form-group col-xs-2">
          <%= label_tag :due_date_to, t('to'), class: "control-label" %>

          <%= text_field_tag :due_date_to,nil, {class: "form-control", id:'due_date_to' ,"data-provide":"datepicker", 'data-validation-format': "dd/mm/yyyy"} %>
        </div>
        <!--</div>-->
        <!--<div class="row">-->
        <div class="form-group col-xs-3">
          <%= label_tag :people, t('milestones.people'), class: "small_label" %>
          <br>
          <%= select_tag(:people, options_from_collection_for_select(@people, :name, :name), :id => 'peoplefilter', :multiple => true, class: "chosen", 'data-placeholder'=> t('milestones.select_tags'), 'style'=> 'width:100%') %>
        </div>
        <div class="form-group col-xs-3">
          <%= label_tag :tags, t('milestones.tags'), class: "small_label" %>
          <br>
          <%= select_tag(:tags, options_from_collection_for_select(@tags, :name, :name), :id => 'tagsfilter', :multiple => true, class: "chosen", 'data-placeholder'=> t('milestones.select_tags'), 'style'=> 'width:100%') %>
        </div>
        <div class="form-group col-xs-2">
          <%= label_tag :categories, t('milestones.category'), class: "small_label" %>
          <br>
          <%= select_tag(:categories, options_from_collection_for_select(@categories, :id, :name), include_blank: t('all'), :id => 'categoriesfilter', :multiple => false, class: "chosen", 'data-placeholder'=> t('milestones.select_tags'), 'style'=> 'width:100%') %>
        </div>
      </div>
      <div class="row ">
        <div class="form-group col-xs-12">
          <%= button_tag t('reset'), :id => 'reset_filters',:type => 'button', class: "btn btn-default pull-right" %>
        </div>
      </div>
    </div>

  </form>
  <div class="row">
    <div id="container-hitos" class="table-container">
      <h1>
        <%= link_to new_milestone_path do%>
            <span class='large-text glyphicon glyphicon-plus table-add-button pull-left'>  </span>
        <% end %>
        <%= t('milestones.header') %></h1>
      <table class="table datatable table-striped" id="hitos" data-info="false">
        <thead>
        <tr>
          <th id="status" class="status status_col"><%= t('milestones.state_title') %></th>
          <th id="title" class="title title_row" ><%= t('milestones.title') %></th>
          <th id="description" class="description description_row"><%= t('milestones.description') %></th>
          <th class="categories"><%= t('milestones.category') %></th>
          <th class="people"><%= t('milestones.people') %></th>
          <th class="tags"><%= t('milestones.tags') %></th>
          <th class="start_date" style="width: 100px" ><%= t('milestones.start_date') %></th>
          <th class="due_date" style="width: 100px"><%= t('milestones.due_date') %></th>
          <th class="mod_date" style="width: 100px"><%= t('milestones.mod_date') %></th>
          <th class="actions"><%= t('milestones.actions') %></th>
        </tr>
        </thead>

       
      </table>

    </div>
  </div>
</div>
</div>
</div>
<script>$(document).ready(milestonefilters_ready);</script>
