<%= form_for @milestone do |m| %>

  <p>
    <%= m.label 'Title:' %><br>
    <%= m.text_field :title %>
  </p>

  <p>
    <%= m.label 'Due date:' %><br>
    <%= m.text_field :due_date %>
  </p>

  <p>
    <%= m.label 'Description:' %><br>
    <%= m.text_area :description %>
  </p>

  <p>
    <%= m.label 'Status:' %><br>
    <%= m.text_area :status %>
  </p>
  <p>
    <%= m.label 'Icon:' %><br>
    <%= m.text_area :icon %>
  </p>
  <p>

    <%= m.hidden_field(:created_at, :value=>Time.now) %>

    <%= m.hidden_field(:updated_at, :value=>Time.now) %>
  </p>
  <!-- <p>
    <%= m.label 'Category:' %><br>
    <%= m.text_area :category_id %>
  </p> -->

  <p>
    <%= m.button 'Create Milestone', :type=>'button', :onclick=>'if(validate()){submit();};' %>
  </p>


<% end %>

<script>
  function validate(){
    var title, description;
    // Get the value of the input field with id="name"
    title = document.getElementById('milestone_title').value;
    // Get the value of the input field with id="mail"
    description = document.getElementById("milestone_description").value;

    // Validate
    return ((title!='') && (description!=''))
  }

</script>