
<div class="container-fluid">
  <div class="row">
    <div class="card-col col-xs-12">
      <%= link_to '/milestones' do %>
          <button type="button" id="btnListMilestones" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-th-list"></span>  <%=t('milestones.see_all')%></button>
      <%end%>
    </div>
  </div>
  <div class="row">
    <div class="card-col col-xs-7">
      <%= render 'info' %>
    </div>

    <%= form_for @milestone do |f| %>
        <%= f.hidden_field :category_id %>
      <div class="row">
        <div class="form-group col-xs-6">
          <%= f.label t('milestones.start_date'), class: "control-label" %>
          <div class="input-group">
            <%if @milestone.start_date==nil %>
                <%= f.text_field :start_date, class: "form-control", id:'start_date' ,"data-provide":"datepicker",'data-validation-format': "dd/mm/yyyy" %>
            <%else%>
                <%= f.text_field :start_date, class: "form-control", id:'start_date' ,'value':l(@milestone.start_date), "data-provide":"datepicker", 'data-validation-format': "dd/mm/yyyy" %>
            <%end%>
            <div class="input-group-addon"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></div>
          </div>
        </div>

        <div class="form-group col-xs-6">
          <%= f.label t('milestones.due_date'), class: "control-label" %>
          <div class="input-group">
            <%if @milestone.due_date==nil %>
                <%= f.text_field :due_date, class: "form-control", id:'due_date' ,"data-provide":"datepicker", 'data-validation':'check_due_date', 'data-validation-format': "dd/mm/yyyy" %>
            <%else%>
                <%= f.text_field :due_date, class: "form-control", id:'due_date' ,'value':l(@milestone.due_date), "data-provide":"datepicker", 'data-validation':'check_due_date','data-validation-format': "dd/mm/yyyy" %>
            <%end%>
            <div class="input-group-addon"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></div>
          </div>
        </div>
      </div>

      <div class="btn">
        <%= f.button t('milestones.edit.submit'),:type => 'submit', class: "btn btn-default" %>
      </div>

    <% end %>

    <h3><%= t('notes.header') %></h3>
    <hr>
    <div class="row">
      <div class="card-col col-xs-5">
        <div id="milestone-notes">
          <%= render 'notes/form' %>
          <%= render 'notes' %>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  // Add custom validation rule
  $.formUtils.addValidator({
    name : 'check_due_date',
    validatorFunction : function() {
      var due=document.getElementById('due_date').value;
      if (due=='') return true;
      var parts= due.split('/');
      var due_year= parts[2];
      var due_month= parts[1]-1;
      var due_day= parts[0];
      var due_date=new Date(due_year, due_month, due_day,23,59,59);
      var start=document.getElementById('start_date').value;
      var parts= start.split('/');
      var start_year= parts[2];
      var start_month= parts[1]-1;
      var start_day= parts[0];
      var start_date=new Date(start_year, start_month, start_day,23,59,59);
      return (start=='' || start_date<=due_date);
    },
    errorMessage : '',
    errorMessageKey: 'badDueDate'
  });
  // Setup form validation
  $.validate();
</script>