<div class="container-fluid">
  <div class="row">
    <div class="card-col col-xs-7">
      <%= render 'info' %>
    </div>
    <div class="card-col col-xs-5">
      <div id="milestone-notes">
        <%= render 'notes/form' %>
        <ul>
          <% @notes.each do |n| %>
              <li class="clearfix">
                <h2><%= n.author.name %></h2>
                <div class="time">hace <%= time_ago_in_words(n.created_at) %></div>
                <p><%= n.text %></p>
                <%= link_to [n.milestone, n],
                            method: :delete,
                            data: { confirm: t('note_sure?')},
                            class: 'delete' do %>
                    <span class="glyphicon glyphicon-remove"></span>
                <% end %>
              </li>
          <% end %>
        </ul>
      </div>

    </div>
  </div>
</div>
