<div class="container-fluid">
  <div class="row">
    <div class="card-col col-xs-7">

      <div id="milestone-info">
        <%= milestone_status(@milestone) %>
        <div class="left-pane">
            <div class="milestone-icon"><%= image_tag @milestone.icon %></div>
            <h2><%= @milestone.title %></h2>
            <% if @milestone.category %>
                <h3><%= @milestone.category.name %></h3>
            <%end%>
        </div>
        <div class="right-pane">
            <p><%= @milestone.description %></p>
            <p><%=t(@milestone.status) %></p>
            <p>
              <% if @milestone.category!=nil %>
                  <table>
                    <tr><td>--<%= t('category') %>--</td></tr>
                    <tr><td><%=t('cat_name')%>: <%= @milestone.category.name %></td></tr>
                    <tr><td><%=t('cat_icon')%>: <%= @milestone.category.icon %></td></tr>
                    <tr><td><%=t('cat_created')%>: <%= @milestone.category.created_at%></td></tr>
                  </table>
              <%else%>
                <% count=0 %>
                  <table>
                    <tr><td><%= t('cat_add') %></td></tr>
                    <%= form_tag ({:action => 'add_category', :controller => 'milestones', :milestone_id => @milestone.id}) do   %>
                      <tr><td><select name="category_id">
                        <% Category.all.each do |ca| %>
                          <option value= <%=ca.id%> > <%=ca.name%></option>
                          <% count=count+1 %>
                        <% end %>
                      </select></td></tr>
                      <% if count>0 %>
                        <tr><td><%= submit_tag(t('add')) %></td></tr>
                      <% else %>
                        <%=t('cat_unavailable')%>
                      <% end %>
                    <% end %>
                  </table>
              <%end%>
            </p>
        </div>
        <div class="clearfix">
          <h2><%= 'Notes' %></h2>
          <%= render @milestone.notes %>

          <h2><%= 'Add Notes' %></h2>
          <%= render 'notes/form' %>
        </div>
      </div>

    </div>
  </div>
</div>
