<style>
    body {
      background-color: white;
    }
</style>
<div class="container-fluid">
  <div class="row">
    <div class="card-col col-xs-12">
      <%= link_to '/milestones' do %>
          <button type="button" id="btnListMilestones" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-th-list"></span>  <%=t('milestones.see_all')%></button>
      <%end%>
    </div>
  </div>
  <div class="row">
    <div class="card-col col-xs-7">
      <%= render 'info' %>
    </div>

    <div class="card-col col-xs-5">
      <div class="milestone-container">
        <h4 class="text-center">
          <span class="glyphicon glyphicon-duplicate"></span>
          <%= t(:attachmentsdocs) %>
        </h4>
        <hr>
        <%= render 'milestones/show_docs' %>
      </div>

      <div class="milestone-container">
        <h4 class="text-center">
          <span class="glyphicon glyphicon-comment"></span>
          <%=t('notes.header')%>
        </h4>
        <hr>
        <%= render 'notes/form' %>
        <%= render 'notes' %>
      </div>

      <div class="milestone-container">
        <h4 class="text-center">
          <span class="glyphicon glyphicon-screenshot"></span>
          <%= t('milestones.checklist.actual_objectives') %>
        </h4>
        <hr>
        <%= render 'objectives/show' %>
        <%= render 'objectives/new' %>
      </div>
    </div>

  </div>
</div>


<script>
    // Add custom validation rule
    $.formUtils.addValidator({
        name : 'check_due_date',
        validatorFunction : function() {
            var due=document.getElementById('due_date').value;
            if (due=='') return true;
            var parts= due.split('/');
            var due_year= parts[2];
            var due_month= parts[1]-1;
            var due_day= parts[0];
            var due_date=new Date(due_year, due_month, due_day,23,59,59);
            var start=document.getElementById('start_date').value;
            var parts= start.split('/');
            var start_year= parts[2];
            var start_month= parts[1]-1;
            var start_day= parts[0];
            var start_date=new Date(start_year, start_month, start_day,23,59,59);
            return (start=='' || start_date<=due_date);
        },
        errorMessage : '',
        errorMessageKey: 'badDueDate'
    });
    // Setup form validation
    $.validate();
</script>