<div id="events-card" class="card events">
  <h1><%= t('events') %></h1>
  <!--<div class="separator"><div>Esta semana</div></div>
  <ul>
    <li class="clearfix">
      <div class="day">16</div>
      <div class="day-of-the-week">Mie</div>
      <div class="content">
        <div class="month-and-year">Septiembre 2015</div>
        <h2>Feedback semestral</h2>
        <p>Reuni贸n de relevamiento de requisitos
          para nuevo proyecto con el cliente XYZ S.A.</p>
      </div>
    </li>
  </ul>
  <div class="separator"><div>Semana pr贸xima</div></div>
  <ul>
    <li class="clearfix">
      <div class="day">16</div>
      <div class="day-of-the-week">Mie</div>
      <div class="content">
        <div class="month-and-year">Septiembre 2015</div>
        <h2>Feedback semestral</h2>
        <p>Reuni贸n de relevamiento de requisitos
          para nuevo proyecto con el cliente XYZ S.A.</p>
      </div>
    </li>
    <li class="clearfix">
      <div class="day">16</div>
      <div class="day-of-the-week">Mie</div>
      <div class="content">
        <div class="month-and-year">Septiembre 2015</div>
        <h2>Feedback semestral</h2>
        <p>Reuni贸n de relevamiento de requisitos
          para nuevo proyecto con el cliente XYZ S.A.</p>
      </div>
    </li>
  </ul>-->

  <% if @events %>
      <% @events.each do |e| %>
          <ul>
            <li class="clearfix">
              <% if e.due_date %>
                  <div class="day"><%=l(e.due_date, format: "%d")%></div>
                  <div class="day-of-the-week"><%=l(e.due_date, format: "%a")%></div>
              <% end %>
              <div class="content">
                <% if e.due_date %>
                    <div class="month-and-year"><%=l(e.due_date, format: "%B %Y")%></div>
                <% end %>
                <h2><%=e.title%></h2>
                <p><%=e.description%></p>

                <div class="pull-right"><%= milestone_short_info(e) %></div>
              </div>

            </li>
          </ul>
      <% end %>
  <% else %>
    <p><%= t('milestones.zero') %></p>
  <% end %>
</div>