<div id="events-card" class="card events">

  <span class="toggle-events glyphicon glyphicon-chevron-down"></span>
  <h1><%= t('events') %> (<%= @events.length %>)</h1>
  <div class="slider">
    <% if @events %>
        <% @events.each do |e| %>
            <ul>
              <li class="clearfix">
                <% if e.due_date %>
                    <div class="day"><%=l(e.due_date, format: "%d")%></div>
                    <div class="content">
                        <div>
                        <div class="month-and-year"><%=l(e.due_date, format: "%B %Y")%></div>
                        <h2><%=e.title%></h2>
                        </div>
                        <div class="documents"><%= milestone_short_info(e) %></div>
                </div>
                <% end %>

              </li>
            </ul>
        <% end %>
    <% else %>
        <p><%= t('milestones.zero') %></p>
    <% end %>
  </div>
</div>