<%= cloudinary_js_config %>

<div class="container">
  <div class="row">
    <div class="card-col col-xs-5 col-xs-offset-3">

      <%= form_tag({controller: "people", action: "edit_profile_pic", method: "post"}, {:class => 'main-form'}) do %>
          <h1><span class="glyphicon glyphicon-user"></span><%= t('people.edit_picture.header') %></h1>
          <input type="hidden" name="person_id" value="<%= @person.id %>">

            <div class="row">
              <div class="col-xs-12">
                <div class="progress hidden">
                  <div class="progress-bar" role="progressbar">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-xs-6">
                <%= label_tag "Imagen" %>
                <%= cl_image_upload_tag(:image_id, :crop => :fill, :width => 300, :height => 300) %>
              </div>
              <div class="form-group col-xs-6">
                <div class="image-preview"></div>
              </div>
            </div>

          <div class="row">
            <div class="col-xs-12">
              <%= button_tag t('people.edit_picture.submit'), options= :type => 'submit', class: "btn btn-default" %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>