<div id="profile-card" class="card profile">
  <div id="profile-picture">
    <div class="img-container">
      <%= person_picture @image_id %>
    </div>
  </div>
  <h1><%= @name %></h1>
  <h2><%= @trole %></h2>
  <ul id="skills">
    <% @skills.each do |s| %>
        <li><%= image_tag s.icon %></li>
    <% end %>
  </ul>
  <hr>
  <h4><%= t('mentor.header') %></h4>
    <% if @mentorships.empty? %>
        <p><%= t('mentor.zero') %></p>
    <%else%>
        <ul id="mentors">
            <% @mentorships.each do |s| %>
                <li><%= link_to person_picture(s.image_id), s %></li>
            <%end%>
          <%if current_user_admin? %>
              <li class="plus" >
                <a href="add_mentor_form?mentee_id=<%=@identifier%>" role="button">
                  <span class="glyphicon glyphicon-plus"></span>
                </a>
              </li>
          <%end%>
        </ul>
    <%end%>
</div>
