<div id="stats-card"class="card stats">
  <!--<h1>Estadísticas</h1>
  <div class="badge-stats">
    <span>Proyectos en curso</span><span class="badge">2</span>
    <span>Proyectos realizados</span><span class="badge">19</span>
    <span>Tiempo en Moove-it</span><span class="badge">3 años</span>
  </div>
  <div class="knob-stats">
    <div class="knob">
      <div class="graph"><input type="text" value="98"></div>
      <span class="text">CI tests aprobados</span>
    </div>
    <div class="clearfix"></div>
    <div class="knob">
      <div class="graph"><input type="text" value="75"></div>
      <span class="text">CI tests aprobados</span>
    </div>
    <div class="clearfix"></div>
  </div>-->

  <h1><%= t('stats') %></h1>
  <div class="badge-stats">
    <span><%= t('project.ongoing') %></span>
    <% if @proysin.length > 0 %>

        <% @proysin.each do |p| %>
            <span class="badge"><%= link_to p.name, project_path(p.id), method: :get %></span>
        <% end %>

    <% else %>
        <%= t('project.zero') %>
    <% end %>

    <span><%= t('project.fulfilled') %></span><span class="badge"><%=@proysend%></span><br>
    <span><%= t('moove-it-time') %></span><span class="badge"><%= time_ago_in_words(@start_date) %></span>
  </div>
</div>