<div id="npmillink-card" class="card nonpending">
  <% if @filter == :pending %>
      <%=link_to "#{t('milestones.state.done_or_rejected')} (#{@filtered_count})", person_show_not_pending_timeline_path(:person_id => @person.id),remote:true, class: "card nonpending" %>
  <% else %>
      <%=link_to "#{t('milestones.state.pending')} (#{@filtered_count})", person_show_pending_timeline_path(:person_id => @person.id),remote:true, class: "card nonpending" %>
  <% end %>
</div>
<% if @milestones and not @milestones.empty? %>
  <div id="timeline-card" class="card timeline">
    <ul id="milestone-list">
      <% @milestones.each do |e| %>
          <li>
            <div class="icon"><%= milestone_icon(e).html_safe %></div>
            <% if can_modify_milestone?e.id %>
              <%= if e.status != 'rejected'
                    milestone_status(e,:right)
                  end %>
              <%= milestone_status_rej(e, :right) %>
            <%end%>
            <h2><%=link_to e.title, e, method: :get%></h2>
            <p><%=t(e.description) %></p>

            <!--<% if e.due_date %>
                <div class="calendar"><%=l(e.due_date, format: "%A, %B %d %Y")%></div>
            <% end %>-->

            <div class="clearfix"></div>

            <% @milestone = e %>
            <%= form_for @milestone do |f| %>
                <%= f.hidden_field :category_id %>
                
                <% if can_modify_milestone?e.id %>

                <div class="row">
                  <div class="form-group col-xs-6">
                    <%= f.label t('milestones.start_date'), class: "control-label" %>
                    <div class="input-group">
                      <%if @milestone.start_date==nil %>
                          <%= f.text_field :start_date, class: "form-control", id:'start_date' ,"data-provide":"datepicker", 'data-validation':'check_start_date','data-validation-format': "dd/mm/yyyy" %>
                      <%else%>
                          <%= f.text_field :start_date, class: "form-control", id:'start_date' ,'value':l(@milestone.start_date), "data-provide":"datepicker", 'data-validation':'check_start_date', 'data-validation-format': "dd/mm/yyyy" %>
                      <%end%>
                      <div class="input-group-addon"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></div>
                    </div>
                  </div>

                  <div class="form-group col-xs-6">
                    <%= f.label t('milestones.due_date'), class: "control-label" %>
                    <div class="input-group">
                      <%if @milestone.due_date==nil %>
                          <%= f.text_field :due_date, class: "form-control" , id:'due_date' ,"data-provide":"datepicker", 'data-validation':'check_due_date', 'data-validation-format': "dd/mm/yyyy" %>
                      <%else%>
                          <%= f.text_field :due_date, class: "form-control", id:'due_date' ,'value':l(@milestone.due_date), "data-provide":"datepicker", 'data-validation':'check_due_date','data-validation-format': "dd/mm/yyyy" %>
                      <%end%>
                      <div class="input-group-addon"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></div>
                    </div>
                  </div>
                </div>

                <% if can_modify_milestone?e.id %>
                  <div class="btn">
                    <%= f.button t('milestones.edit.submit'),:type => 'submit', class: "btn btn-default" %>
                  </div>
                <% end %>
          
            <%else%>
            <div class="row">
                <div class="form-group col-xs-6">
                    <%= f.label t('milestones.start_date'), class: "control-label" %>
                    <div class="input-group">
                      <%if @milestone.start_date==nil %>
                          <%= f.text_field :start_date, class: "form-control", disabled: true %>
                      <%else%>
                          <%= f.text_field :start_date, class: "form-control",'value':l(@milestone.start_date), disabled: true %>
                      <%end%>
                    </div>
                  </div>

                  <div class="form-group col-xs-6">
                    <%= f.label t('milestones.due_date'), class: "control-label" %>
                    <div class="input-group">
                      <%if @milestone.due_date==nil %>
                          <%= f.text_field :due_date, class: "form-control", disabled: true %>
                      <%else%>
                          <%= f.text_field :due_date, class: "form-control" ,'value':l(@milestone.due_date), disabled: true %>
                      <%end%>
                    </div>
                  </div>
                </div>
            <% end %>
            <% end %>

            <div class="clearfix"></div>

            <div class="resources-list clearfix">
                <h2><span class="glyphicon glyphicon glyphicon-paperclip"></span>  <%=t(:attachmentsdocs)%></h2>
                  <% if can_modify_milestone?(e.id) %>
                      <%=link_to :controller => 'google', :action => 'adddriveview', :milestone_id => e.id do%>
                          <span class="toggle-documents glyphicon glyphicon-plus"></span>
                      <% end %>
                  <% end %>
              <% unless e.resources.empty? %>
                  <span class="toggle-documents glyphicon glyphicon-chevron-down"></span>
                  <div class="slider">
                    <ul>
                      <%e.resources.each do |r|%>
                          <li><%=link_to r.title, r.url, :target => "_blank"%></li>
                      <%end%>
                    </ul>
                  </div>
              <% end %>

            </div>




            <!-- Muestro ultima nota -->
            <% visible_notes = e.get_visible_notes(current_person)
               n = visible_notes.first %>

            <div class="notes-list clearfix">
              <h2><span class="glyphicon glyphicon-comment"></span><% t('notes_header') %></h2>
              <%= link_to  milestone_path(e), method: :get do%>
                  <span class="toggle-documents glyphicon glyphicon-plus"></span>
              <% end %>
              <% unless n.nil? %>
                  <span class="toggle-documents glyphicon glyphicon-chevron-down"></span>
                  <div class="slider">
                    <ul>

                      <li>
                        <h3><%= n.author.name %></h3>
                        <div class="time"><%=  t('ago_i') + time_ago_in_words(n.created_at) + t('ago_f')  %></div>
                        <p><%= truncate(n.text, length: 350) %></p>

                        <% if current_user_admin?
                             link_to [n.milestone, n],
                                     method: :delete,
                                     data: { confirm: t('notes.delete.sure')},
                                     class: 'delete' do %>
                                <span class="glyphicon glyphicon-remove"></span>
                            <% end
                               end %>

                      </li>
                    </ul>
                    <% if visible_notes.count > 1 %>
                        <div class="link">
                          <%= link_to t('people.new.other_notes', :count => "#{visible_notes.count - 1}"), e %></div>
                    <% end %>
                  </div>

              <% end %>

            </div>
            <ul class="tags">
              <!--<li>Speaker</li>-->
            </ul>
            <div class="milestone-last-update">
              <%= t('milestones.last_update') + " " + t('ago_i') +  time_ago_in_words(e.updated_at) + t('ago_f') %>
            </div>

          </li>
      <% end %>
    </ul>
  </div>

<% else %>
  <div class="alert alert-info" role="alert"><p><%= t('milestones.zero') %></p></div>
<% end %>
