<div align="timeline-card">
  <%= render 'milestones/form' %>
</div>
<div id="timeline-card" class="card timeline">
  <!--<ul id="milestone-list">
    <li>
      <h2>Advanced iOS Bootcamp</h2>
      <p>
        Certificación “Advanced iOS Bootcamp” de
        BigNerdRanch.
      </p>
      <div class="calendar">La semana que viene</div>
      <ul class="tags">
        <li>Speaker</li>
      </ul>
      <div class="clearfix"></div>
    </li>
    <li>
      <h2>Advanced iOS Bootcamp</h2>
      <p>
        Certificación “Advanced iOS Bootcamp” de
        BigNerdRanch.
      </p>
      <div class="calendar">La semana que viene</div>
      <ul class="tags">
        <li>Speaker</li>
      </ul>
      <div class="clearfix"></div>
    </li>
    <li>
      <h2>Advanced iOS Bootcamp</h2>
      <p>
        Certificación “Advanced iOS Bootcamp” de
        BigNerdRanch.
      </p>
      <div class="calendar">La semana que viene</div>
      <ul class="tags">
        <li>Speaker</li>
      </ul>
      <div class="clearfix"></div>
    </li>
  </ul>-->
<ul id="new-milestone">
  <li>


  </li>
</ul>

  <% if @milestones and not @milestones.empty? %>
      <ul id="milestone-list">
        <% @milestones.each do |e| %>
            <li>
              <% store_return_to %>
              <%= if e.status != 'rejected'
                    milestone_status(e,:right)
                  end %>
              <%= milestone_status_rej(e, :right) %>
              <h2><%=link_to e.title, e, method: :get%></h2>
              <p><%=t(e.description) %></p>

              <div class="resources-list clearfix">
                <h2><%=t(:attachmentsdocs)%></h2>
                  <% if e.resources.empty? && can_modify_milestone?(e.id) %>
                    <%=link_to :controller => 'google', :action => 'adddriveview', :milestone_id => e.id do%>
                          <span class="toggle-documents glyphicon glyphicon-plus"></span>
                    <% end %>
                  <% else %>
                    <span class="toggle-documents glyphicon glyphicon-chevron-down"></span>
                    <ul>
                      <%e.resources.each do |r|%>
                          <li><%=link_to r.title, r.url, :target => "_blank"%></li>
                      <%end%>
                      <% if can_modify_milestone?(e.id) %>
                        <%=link_to :controller => 'google', :action => 'adddriveview', :milestone_id => e.id do%>
                            <span class="toggle-documents glyphicon glyphicon-plus"></span>
                        <% end %>
                      <% end %>
                    </ul>
                  <% end %>

              </div>

              <% if e.due_date %>
                <div class="calendar"><%=l(e.due_date, format: "%A, %B %d %Y")%></div>
              <% end %>
              <ul class="tags">
                <!--<li>Speaker</li>-->
              </ul>
              <div class="clearfix"></div>
            </li>
        <% end %>
      </ul>
  <% else %>
          <p>No hay hitos que mostar</p>
  <% end %>


  <!-- <=% form_tag ({:action => 'assign_project', :controller => 'people', :person_id => @person_vew.id}) do   %>-->
  <!--  <=% if !@project_to_show.empty?%>-->
  <!--  <select name="project_id" class="chosen submit-on-select" data-placeholder = <=%t('assign_to_project')%>>-->
  <!--      <=% @project_to_show.each do |p| %>-->
  <!--          <option value= <=%=p.id%> > <=%=p.name%></option>-->
  <!--      <=% end %>-->
  <!--  </select>-->
  <!--<=% end %>-->
  <!--<=% end %>-->
</div>


