<div id="timeline-card" class="card timeline">
  <!--<ul id="milestone-list">
    <li>
      <h2>Advanced iOS Bootcamp</h2>
      <p>
        Certificación “Advanced iOS Bootcamp” de
        BigNerdRanch.
      </p>
      <div class="calendar">La semana que viene</div>
      <ul class="tags">
        <li>Speaker</li>
      </ul>
      <div class="clearfix"></div>
    </li>
    <li>
      <h2>Advanced iOS Bootcamp</h2>
      <p>
        Certificación “Advanced iOS Bootcamp” de
        BigNerdRanch.
      </p>
      <div class="calendar">La semana que viene</div>
      <ul class="tags">
        <li>Speaker</li>
      </ul>
      <div class="clearfix"></div>
    </li>
    <li>
      <h2>Advanced iOS Bootcamp</h2>
      <p>
        Certificación “Advanced iOS Bootcamp” de
        BigNerdRanch.
      </p>
      <div class="calendar">La semana que viene</div>
      <ul class="tags">
        <li>Speaker</li>
      </ul>
      <div class="clearfix"></div>
    </li>
  </ul>-->
  <%= form_tag person_assign_milestone_path(person_id: @identifier) do   %>
      <% if not @yet_pending.empty? %>
          <select name="milestone_id" class="chosen submit-on-select" data-placeholder="Agregar un hito">
            <% @yet_pending.each do |m| %>
                  <option value= <%=m.id%> > <%=m.title%></option>
            <% end %>
          </select>
      <% end %>
  <% end %>

  <%= form_tag ({:action => 'assign_project', :controller => 'people', :person_id => @person_vew.id}) do   %>
      <% if not @projects.empty? %>
          <label>
            <%= t('people_assign_to') %>
          </label>
          <select name="project_id" class="chosen submit-on-select" data-placeholder="Agregar un proyecto">
            <% @projects.each do |p|
              if not @person_vew.projects.exists?(p.id)%>
                    <option value= <%=p.id%> > <%=p.name%></option>
            <%  end
            end %>
          </select>
      <% end %>
  <% end %>

  <% if @milestones and not @milestones.empty? %>
      <ul id="milestone-list">
        <% @milestones.each do |e| %>
            <li>
              <%= milestone_status(e,:small,:right)%>
              <h2><%=link_to e.title, e, method: :get%></h2>
              <p><%=t(e.description) %></p>

              <div class="resources-list clearfix">
                <h2><%=t(:attachmentsdocs)%></h2>
                  <% if e.resources.empty? %>
                    <%=link_to :controller => 'google', :action => 'adddriveview', :milestone_id => e.id do%>
                        <span class="toggle-documents glyphicon glyphicon-plus"></span>
                    <% end %>
                  <% else %>
                    <span class="toggle-documents glyphicon glyphicon-chevron-down"></span>
                    <ul>
                      <%e.resources.each do |r|%>
                          <li><%=link_to r.title, r.url, :target => "_blank"%></li>
                      <%end%>
                    </ul>
                  <% end %>
              </div>

              <% if e.due_date %>
                <div class="calendar"><%=l(e.due_date, format: "%A, %B %d %Y")%></div>
              <% end %>
              <ul class="tags">
                <!--<li>Speaker</li>-->
              </ul>
              <div class="clearfix"></div>
            </li>
        <% end %>
      </ul>
  <% else %>
          <p>No hay hitos que mostar</p>
  <% end %>
</div>