

<% if @milestones and not @milestones.empty? %>
    <div id="timeline-card" class="card timeline">
      <ul id="milestone-list">
        <% @milestones.each do |e| %>
            <li>
              <%= if e.status != 'rejected'
                    milestone_status(e,:right)
                  end %>
              <%= milestone_status_rej(e, :right) %>
              <h2><%=link_to e.title, e, method: :get%></h2>
              <p><%=t(e.description) %></p>

              <div class="resources-list clearfix">
                <h2><span class="glyphicon glyphicon glyphicon-paperclip"></span>  <%=t(:attachmentsdocs)%></h2>
                <% if e.resources.empty? && can_modify_milestone?(e.id) %>
                    <%=link_to :controller => 'google', :action => 'adddriveview', :milestone_id => e.id do%>
                        <span class="toggle-documents glyphicon glyphicon-plus"></span>
                    <% end %>
                <% else %>
                    <span class="toggle-documents glyphicon glyphicon-chevron-down"></span>
                    <ul>
                      <%e.resources.each do |r|%>
                          <li><%=link_to r.title, r.url, :target => "_blank"%></li>
                      <%end%>
                      <% if can_modify_milestone?(e.id) %>
                          <%=link_to :controller => 'google', :action => 'adddriveview', :milestone_id => e.id do%>
                              <span class="toggle-documents glyphicon glyphicon-plus"></span>
                          <% end %>
                      <% end %>
                    </ul>
                <% end %>

              </div>

              <% if e.due_date %>
                  <div class="calendar"><%=l(e.due_date, format: "%A, %B %d %Y")%></div>
              <% end %>
              <ul class="tags">
                <!--<li>Speaker</li>-->
              </ul>

              <!-- Muestro ultima nota -->
              <% n = e.notes.last %>
              <% unless n.nil? %>
                  <h5>
                    <%= n.author.name %>
                    <div class="time">hace <%= time_ago_in_words(n.created_at) %></div>
                  </h5>
                  <h4><small><%= truncate(n.text, length: 350) %></small></h4>
                  <% if current_user_admin?
                       link_to [n.milestone, n],
                               method: :delete,
                               data: { confirm: t('notes.delete.sure')},
                               class: 'delete' do %>
                          <span class="glyphicon glyphicon-remove"></span>
                      <% end
                         end
                         if n.visibility=='every_body' %>
                      <span class="glyphicon glyphicon-eye-open"></span>
                  <% else if n.visibility=='mentors' %>
                          <span class="glyphicon glyphicon-eye-close"></span>
                      <% else %>
                          <span class="glyphicon glyphicon-lock"></span>
                      <% end
                         end %>

                  <div class="clearfix">
                  </div>
              <% end %>
            </li>
        <% end %>
      </ul>
    </div>

<% else %>
    <div class="alert alert-info" role="alert"><p><%= t('milestones.zero') %></p></div>
<% end %>





