<div class="container">
  <div class="row">

    <div class="table-container" id="people_table">

      <h1>
        <% if current_user_admin? %>
            <%= link_to new_person_path, method: :get do%>
                <span class='large-text glyphicon glyphicon-plus table-add-button pull-left'></span>
            <% end %>
        <% end %>
        <%= t('people.list.header')  %>
      </h1>
      <% if @people.any? %>
          <table class="table datatable" data-info="false">
            <thead>
            <tr>
              <th style="width: 60px"></th>
              <th><%= t('people.list.name') %></th>
              <th><%= t('people.list.email') %></th>
              <th><%= t('people.list.start_date') %></th>
              <th><%= t('people.list.admin') %></th>
              <th></th>
            </tr>
            </thead>
            <tbody>

            <% @people.each do |p| %>
                <tr>
                  <td>
                    <div id="profile-picture-<%= p.id %>" class="profile_picture">
                      <div class="img-container">

                        <%= person_picture p.image_id %>
                      </div>
                    </div>
                  </td>
                  <td><%= link_to p.name, person_path(p.id), method: :get %></td>
                  <td><%= p.email %></td>
                  <td><div class="calendar left"><%= p.start_date %></div></td>
                  <td>
                    <% if p.admin %>
                        <%= t('common.y') %>
                    <% else %>
                        <%= t('common.n') %>
                    <% end %>
                  </td>
                  <td>
                    <% if can_view_person? p.id %>
                      <%= link_to edit_person_path(p) do %>
                        <span class='large-text glyphicon glyphicon-pencil'></span>
                      <% end %>
                    <%end%>
                  </td>

                </tr>
            <% end %>

            </tbody>
          </table>
      <% else %>
          <div class="zero"><%= t('people.list.zero') %></div>
      <% end %>
    </div>


  </div>
</div>