<div class="container">
  <div class="row">
    <div class="card-col col-xs-8">
      <%= form_for :person, url: people_path, html: { 'data-toggle': 'validator'} do |f| %>
          <div class="form-group">
            <%= f.label t('people_new_name'), class: "control-label" %>
            <%= f.text_field :name, class: "form-control", required: "required" %>
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <%= f.label t('people_new_email'), class: "control-label" %>
            <%= f.text_field :email, class: "form-control", required: "required"%>
            <div class="help-block with-errors"></div>
          </div>
          <div class="row">
            <div class="form-group col-xs-6">
              <%= f.label t('people_new_celphone'), class: "control-label" %>
              <%= f.text_field :cellphone, class: "form-control" %>
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group col-xs-6">
              <%= f.label t('people_new_telephone'), class: "control-label" %>
              <%= f.text_field :phone, class: "form-control" %>
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-xs-6">
              <%= f.label t('people_new_birth_date'), class: "control-label" %>
              <div class="input-group">
                    <%= f.text_field :birth_date, type: "date", class: "form-control", "data-provide":"datepicker"%>
                    <div class="input-group-addon"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></div>
              </div>
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group col-xs-6">
              <%= f.label t('people_new_init_date'), class: "control-label" %>
              <%= f.text_field :start_date, class: "form-control" %>
              <div class="help-block with-errors"></div>
            </div>
          </div>


          <%= f.button t('people_new_submit'), options= :type => 'submit', class: "btn btn-default" %>
          </div>
      <% end %>
      </div>
</div>

