<div class="container">
  <div class="row">
    <div class="card-col col-xs-2 col-xs-offset-2">
      <%= render 'people/profile_card' %>
      <%= render 'people/stats_card' %>
    </div>
    <div class="card-col col-xs-6">

      <div class="clearfix">


        <% if current_user_admin? %>
            <button class="slide-form-button" data-rel="from-collection-form" data-toggle="tooltip" title="Crear hitos desde coleccion">
              <span class="glyphicon glyphicon-briefcase"></span>
            </button>
            <button class="slide-form-button" data-rel="from-template-form" data-toggle="tooltip" title="Crear hito desde template">
              <span class="glyphicon glyphicon-star"></span>
            </button>
        <%end%>


        <%if can_view_person?(@identifier) %>
            <button class="slide-form-button" data-rel="new-milestone-form" data-toggle="tooltip" title="Crear hito">
              <span class="glyphicon glyphicon-plus"></span>Hito
            </button>
        <%end%>

        <div id="npmillink-card-pending" class="timeline-filter active">
          <%=link_to "#{t('milestones.state.pending')} (#{@filtered_pending_count})", person_show_pending_timeline_path(:person_id => @person.id),remote:true, id: 'linkpending', class: 'mainfilter' %>
        </div>

        <div id="npmillink-card-not-pending" class="timeline-filter">
          <%=link_to "#{t('milestones.state.done_or_rejected')} (#{@filtered_not_pending_count})", person_show_not_pending_timeline_path(:person_id => @person.id), remote:true, id: 'linknotpending', class: 'mainfilter' %>
        </div>

        <div class="timeline-filter-2">
            <%=link_to "", person_show_timeline_cat_fil_path(:person_id => @person.id, :filter => @filter, :category_id => ''), remote:true, id: 'linkFilCats' %>
            <select id="filterCats" name="filterCats">
              <option value="-1">Sin filtro</option>
              <%@cats.each do |c|%>
                  <option value=<%= c[1] %>><%=c[0]%></option>
              <% end %>
            </select>
        </div>

      </div>

      <p><% t('milestones.zero') %></p>

      <%if can_view_person?(@identifier) %>
          <%= render 'milestones/form' %>
      <%end%>
      <% if current_user_admin? %>
          <%= render 'templates/generate' %>
          <%= render 'collections/generate' %>
      <%end%>

      <div id="timeline-container">
        <%= render 'people/timeline_card' %>
      </div>
    </div>
  </div>

</div>

<script>
    $(".mainfilter").click(function() {
        $("#filterCats").val(-1)
    });
    $("#filterCats").change(function() {

        if ($("#npmillink-card-pending").attr('class') == "timeline-filter active"){
            $("#linkFilCats").attr("href", '<%= person_show_timeline_cat_fil_path(:person_id => @person.id, :filter => 'pending')  %>' + '&category_id=' + $("#filterCats").val());
        }else{
            $("#linkFilCats").attr("href", '<%= person_show_timeline_cat_fil_path(:person_id => @person.id, :filter => 'not_pending')  %>' + '&category_id=' + $("#filterCats").val());

        }
        $("#linkFilCats").trigger("click");
    });
</script>