<div class="container-fluid">
  <div class="row">
    <div class="card-col col-xs-2">
      <%= render 'people/profile_card' %>
      <%= render 'people/stats_card' %>
    </div>

    <div class="card-col col-xs-5 col-sm-5 col-md-5 col-lg-10">
      <div id="npmillink-card" class="card nonpending">
        <h1><%= t(:mil_done_or_rejected) %> &nbsp;&nbsp;&nbsp;&nbsp; <%=link_to :back, person_path(@people) , class: "btn btn-info" %></h1>
      </div>
      <%= render 'people/timeline_card' %>
    </div>
  </div>
</div>