<div class="container-fluid">
  <div class="row">
    <div class="card-col col-xs-2">
      <%= render 'people/profile_card' %>
      <%= render 'people/stats_card' %>
    </div>
    <div class="card-col col-lg-5">
      <div class="card pending">
        <h1><%= t('milestones.overcomes') %></h1>
        <% if @overcomes and not @overcomes.empty? %>
            <ul id="pending-list">
              <% @overcomes.each do |e| %>
                  <li>
                    <h2><%=e.title%></h2>
                    <p><%=e.description%></p>

                    <% if e.due_date %>
                        <div class="calendar right"><%=l(e.due_date, format: "%A, %B %d %Y")%></div>
                    <% end %>
                    <%= milestone_short_info(e) %>
                    <ul class="tags">
                      <!--<li>Speaker</li>-->
                    </ul>
                    <div class="clearfix"></div>
                  </li>
              <% end %>
            </ul>
        <% else %>
            <p><% t('milestones.zero') %></p>
        <% end %>
      </div>
      <%= render 'people/events_card' %>
    </div>


    <div class="card-col col-xs-5">
        <%if can_view_person?(@identifier) %>
          <%= render 'milestones/form' %>
        <%end%>
      <div id="timeline-container">
        <%= render 'people/timeline_card' %>
      </div>
    </div>
  </div>
</div>
