<div class="container">
  <div class="row">
    <div class="card-col col-xs-2">
      <%= render 'people/profile_card' %>
      <%= render 'people/stats_card' %>
      <%= render 'people/events_card' %>
    </div>
    <div class="card-col col-xs-10">
      <p><% t('milestones.zero') %></p>
      <%if can_view_person?(@identifier) %>
          <%= render 'milestones/form' %>
      <%end%>
      <div id="timeline-container">
        <%= render 'people/timeline_card' %>
      </div>
    </div>
  </div>
</div>
