<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="table-container">
        <h1>
          <%= link_to templates_new_path do%>
              <span class='large-text glyphicon glyphicon-plus table-add-button pull-left'>  </span>
          <% end %>
          <%= t('templates.header') %></h1>
        <table class="table datatable table-striped" id="plantillas" data-info="false">
          <thead>
          <tr>
            <th class="title_row" ><%= t('title') %></th>
            <th class="description_row"><%= t('description') %></th>
            <th><%= t('category') %></th>
            <th><%= t('tempdoc') %></th>
            <th><%= t('tags.name') %></th>
            <th><%= t('actions') %></th>
          </tr>
          </thead>
          <tbody>
          <% @template.each do |m| %>
              <tr>
                <td class="description_row">
                  <%= m.title %>
                </td>
                <td class="description_row">
                  <%= m.description %>
                </td>
                <td>
                  <%= m.category.name %>
                </td>
                <td>
                  <% if m.resource %>
                    <%= link_to m.resource.url do m.resource.title end %>
                  <% end %>
                </td>
                <td class="tags_row">
                  <ul class="">
                    <% m.tags.order('LOWER(name)').each do |t| %>
                        <li><%= t.name %></li>
                    <% end %>
                  </ul>
                </td>

                <td>
                      <%= link_to templates_destroy_path(template_id: m.id),
                                  data: { confirm: t('templates.delete.sure') } do %>
                          <span class='large-text glyphicon glyphicon-trash'></span>
                      <% end %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
        <%= will_paginate @template %>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>

