<div>
  <label>
    <%= t('milestones.checklist.actual_objetives') %>
  </label>
  <% if @milestone.objectives.empty? %>
      <p>No hay objetivos para el Hito</p>
  <% else%>
      <div class="list-group">
        <% @milestone.objectives.each do |n| %>
            <li class="list-group-item">
                  <span class="badge">
                    <%= link_to milestone_objective_path,
                                action: 'check',
                                method: :post,
                                data: { confirm: t('notes.delete.sure')},
                                class: 'delete' do %>
                      <div class="glyphicon glyphicon-remove" style="color: white"></div>
                    <% end %>
                  </span>
              <% if n.checked? %>
                  <del><%= n.description %></del>
              <% else %>
                    <span class="badge">
                    <%= link_to [n.milestone, n],
                                method: :delete,
                                data: { confirm: t('notes.delete.sure')},
                                class: 'delete' do %>
                      <div class="glyphicon glyphicon-ok" style="color: white"></div>
                    <% end %>
                  </span>
                  <%= n.description %>
              <% end %>
            </li>
        <% end %>
      </div>
  <% end %>
</div>