<div class="container-fluid">
    <div id="login-screen">
      <ul id="login-top">
        <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
      </ul>
      <p><%= @msj %></p>
      <% if current_user %>
          <%= t('signed_in_as') %><strong><%= current_user.person.name %></strong>!
          <%= link_to "Sign out", :controller => 'google', :action => 'signout', id: "sign_out" %>
      <% else %>
          <%= image_tag "logos/alfred-logo-big.png" %>
          <%= link_to t('login_with_google'), "/auth/google_oauth2", id: "sign_in" %>
      <% end %>
    </div>
</div>
