<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">

      <div class="table-container table-difrows">

        <h1>
          <% if current_user_admin? %>
            <%= link_to new_tech_role_path do%>
                <span class='large-text glyphicon glyphicon-plus table-add-button pull-left'>  </span>
            <% end %>
          <% end %>
          <%= t('tech_roles.index.header') %>
        </h1>
        <table class="table datatable" data-info="false">

          <thead>
          <tr>
            <th><%= t('name') %></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @techRoles.each do |t| %>
              <tr>
                <td><%= t.name %></td>
                <% if current_user_admin? %>
                    <td class="actions">
                      <%= link_to edit_tech_role_path(t) do%>
                          <span class='glyphicon glyphicon-pencil'></span>
                      <% end %>
                    <%= link_to tech_role_path(t),
                                    method: :delete,
                                    data: { confirm: t('tech_roles.delete.sure') } do %>
                          <span class='glyphicon glyphicon-trash'></span>
                      <% end %>
                    </td>
                <%else%>
                    <td></td>
                    <td></td>
                <%end%>
              </tr>
          <% end %>
          </tbody>
        </table>
        <%= will_paginate @techRoles %>
      </div>


    </div>
  </div>
</div>

