<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <div class="table-container">
        <h1><%= t('project.index.header') %></h1>
        <table class="table datatable">
          <thead>
          <tr>
            <td></td>

            <td><%= t('project.name') %></td>
            <td><%= t('project.client') %></td>
            <td><%= t('project.start_date') %></td>
            <td><%= t('project.end_date') %></td>
            <td></td>
            <td></td>
          </tr>
          </thead>
          <tbody>
          <% @projects.each do |m| %>
              <tr>
                <td><%= m.status %></td>
                <td><%= link_to m.name, project_path(m)%></td>
                <td><%= m.client %></td>
                <td><div class="calendar left"><%= m.start_date %></div></td>
                <td><div class="calendar left"><%= m.end_date %></div></td>
                <td><%= link_to edit_project_path(m) do%>
                    <span class='large-text glyphicon glyphicon-pencil'></span>
                  <% end %>
                </td>
                <td><%= link_to project_path(m),
                                method: :delete,
                                data: { confirm: t('project.delete.sure') } do %>

                      <span class='large-text glyphicon glyphicon-remove'></span>
                  <% end %>
                </td>

              </tr>
          <% end %>
          </tbody>
        </table>
      </div>


    </div>
  </div>
</div>

