<div class="container-fluid">
  <div class="row">
    <div class="card-col col-xs-4 col-xs-offset-4">
      <div id="div_project">
        <h1><span class="glyphicon glyphicon-check"></span><%= t('project.view') %></h1>
        <table class="table table-striped">
          <tbody>
          <tr>
            <td>
              <label>
                <%= t('project.name') %>
              </label>
              <%= @project.name %>
            </td>
          </tr>
          <tr>
            <td>
              <label>
                <%= t('project.client') %>
              </label>
              <%= @project.client %>
            </td>
          </tr>
          <tr>
            <td>
              <label>
                <%= t('project.status') %>
              </label>
              <%= @project.display_status %>
            </td>
          </tr>
          <tr>
            <td>
              <label>
                <%= t('project.start_date') %>
              </label>
              <%= @project.start_date %>
            </td>
          </tr>
          <tr>
            <td>
              <label>
                <%= t('project.end_date') %>
              </label>
              <%= @project.end_date %>
            </td>
          </tr>
          <tr>
            <td>
              <label>
                <%= t('project.technologies.title') %>
              </label>
              <% @project.technologies.each do |t| %>
                  <li><%= t.name %></li>
              <% end %>
              <% if @project.technologies.size == 0 %>
                  <em><%= t('project.technologies.zero') %></em>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>
              <label>
                <%= t('project.people.title') %>
              </label>
              <% @project.people.each do |t| %>
                  <li><%= link_to t.name, t %></li>
              <% end %>
              <% if @project.people.size == 0 %>
                  <em><%= t('project.people.zero') %></em>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>
            <%= form_tag ({:action => 'assign_person', :controller => 'projects', :project_id => @project.id}) do   %>
                <% if !@usr.empty?%>
                  <label>
                    <%= t('project.assign.title') %>
                  </label>
                  <br>
                  <select name="person_id">
                    <% @usr.each do |p|%>
                        <option value= <%=p.id%> > <%=p.name%></option>

                    <% end %>
                  </select>

                  <%= button_tag t('project.assign.submit'), options= :type => 'submit', id: "buttonTwo" %>
               <% end %>
            </td>
          </tr>
          <%= button_tag t('back'), options= :type => 'submit', id: "buttonOne", class: "btn btn-default" %>
          <% end%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<br>
<br>
