<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <div class="table-container table-difrows">

        <h1>
            <%= link_to new_tag_path do%>
                <span class='large-text glyphicon glyphicon-plus table-add-button pull-left'>  </span>
            <% end %>
          <%= t('tags.index.header') %>
        </h1>
        <table class="table datatable" data-info="false">

          <thead>
          <tr>
            <th><%= t('id') %></th>
            <th><%= t('name') %></th>
            <th><%= t('milestones.actions') %></th>
          </tr>
          </thead>
          <tbody>
          <% @tags.each do |t| %>
              <tr>
                <td><%= t.id %></td>
                <td><%= t.name %></td>
                <td>
                  <%= link_to edit_tag_path(t) do%>
                      <span class='large-text glyphicon glyphicon-pencil'></span>
                  <% end %>
                <%= link_to tag_path(t),
                                method: :delete,
                                data: { confirm: t('tags.delete.sure') } do %>
                      <span class='large-text glyphicon glyphicon-trash'></span>
                  <% end %>
                </td>

              </tr>
          <% end %>
          </tbody>
        </table>
        <%= will_paginate @tags %>
      </div>


    </div>
  </div>
</div>

