<h1>MILESTONES:</h1>
<table class="table">
  <% @milestone.each do |m| %>
    <tr>
      <td><%= m.id %></td>
      <td><%= link_to m.title, milestone_path(m)%></td>
      <td><%= m.due_date %></td>
      <td><%= m.description %></td>
      <td><%= m.status %> </td>

      <td><%= link_to 'destroy', milestone_path(m),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %></td>

    </tr>
  <% end %>
</table>