<table>
  <tr><td>--<%= t('category') %>--</td></tr>
  <tr><td><%=t('categories.name')%>: <%= category.name %></td></tr>
  <tr><td><%=t('categories.icon')%>: <%= category.icon %></td></tr>
  <tr><td><%=t('categories.created')%>: <%= category.created_at%></td></tr>
</table>