<table>
  <tr><td>--<%= t('category') %>--</td></tr>
  <tr><td><%=t('cat_name')%>: <%= category.name %></td></tr>
  <tr><td><%=t('cat_icon')%>: <%= category.icon %></td></tr>
  <tr><td><%=t('cat_created')%>: <%= category.created_at%></td></tr>
</table>