<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <div class="table-container table-difrows">
        <h1>
          <% if current_user_admin? %>
              <%= link_to new_category_path, method: :get do%>
                  <span class='large-text glyphicon glyphicon-plus table-add-button pull-left'></span>
              <% end %>
              <% end %>
          <%= t('categories.header') %>
        </h1>
        <table class="table datatable" data-info="false">
          <thead>
          <tr>
            <th></th>
            <th><%= t('categories.name') %></th>
            <th><%= t('categories.feedback') %></th>
            <th><%= t('categories.status') %></th>
            <th></th>
            <% if current_user_admin? %>
                <th></th>
            <% end %>
          </tr>
          </thead>
          <tbody>
          <% @category.each do |c| %>
              <tr>
                <td><span class="large-text glyphicon <%= c.icon %>"></span></td>
                <td><%= c.name %></td>
                <td>
                  <% if c.is_feedback %>
                    <%= t('common.y') %>
                  <% else %>
                      <%= t('common.n') %>
                  <% end %>
                </td>
                <td><%=  I18n.t("categories.display_status.#{c.status}") %> </td>
                <td></td>
                <% if current_user_admin? %>
                    <td class="actions">


                      <%= link_to edit_category_path(c) do%>
                          <span class='glyphicon glyphicon-pencil'></span>
                      <% end %>

                      <% if (c.status == "active") %>

                          <%= link_to categories_destroy_path(category_id: c.id),
                                        data: { confirm: t('categories.delete.sure') } do %>

                              <span class='glyphicon glyphicon-trash'></span>
                          <% end %>
                      <% end %>

                      <% if (c.status == "inactive") %>

                          <%= link_to  category_activate_path(c.id), method: :post,  data: { confirm: "#{t('categories.activate_sure')}" } do %>
                              <span class='glyphicon glyphicon-retweet'></span>
                          <% end %>

                      <% end %>

                    </td>
                <% end %>
              </tr>
          <%end%>
          </tbody>
        </table>
        <%= will_paginate @category %>
      </div>


    </div>
  </div>
</div>