<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <div class="table-container">
        <h1><%= t('categories.header') %></h1>
        <table class="table">
          <thead>
          <tr>
            <td></td>
            <td><%= t('categories.name') %></td>
            <td><%= t('categories.created') %></td>
            <td><%= t('categories.updated') %></td>
          </tr>
          </thead>
          <tbody>
          <% @category.each do |c| %>
              <tr>
                <td><%= c.icon %></td>
                <td><%= c.name %></td>
                <td><%= c.created_at%></td>
                <td><%= c.updated_at%></td>
              </tr>
          <%end%>
          </tbody>
        </table>
      </div>


    </div>
  </div>
</div>