<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <div class="table-container">
        <h1>
          <% if current_user_admin? %>
              <%= link_to new_category_path, method: :get do%>
                  <span class='large-text glyphicon glyphicon-plus table-add-button pull-left'></span>
              <% end %>
              <% end %>
          <%= t('categories.header') %>
        </h1>
        <table class="table datatable" data-info="false">
          <thead>
          <tr>
            <td></td>
            <td><%= t('categories.name') %></td>
            <td></td>
            <td></td>
            <% if current_user_admin? %>
                <td></td>
                <td></td>
            <% end %>
          </tr>
          </thead>
          <tbody>
          <% @category.each do |c| %>
              <tr>
                <td><span class="large-text glyphicon <%= c.icon %>"></span></td>
                <td><%= c.name %></td>
                <td></td>
                <td></td>
                <% if current_user_admin? %>
                    <td><%= link_to edit_category_path(c) do%>
                          <span class='large-text glyphicon glyphicon-pencil'></span>
                      <% end %>
                    </td>

                    <td><%= link_to categories_destroy_path(category_id: c.id),
                                    data: { confirm: t('categories.delete.sure') } do %>

                          <span class='large-text glyphicon glyphicon-remove'></span>
                      <% end %>
                    </td>
                <% end %>
              </tr>
          <%end%>
          </tbody>
        </table>
      </div>


    </div>
  </div>
</div>