<div class="container">
  <div class="row">
    <div class="card-col col-xs-4 col-xs-offset-4">
    <h1><span class="glyphicon glyphicon-user"></span> <%= t('cat_create') %></h1>

    <%= form_for([@category]) do |c| %>
        <div class="form-group">
                <%= c.label t('cat_name') %><br>
                <%= c.text_field :name %>
        </div>

        <div class="form-group">
                <%= c.label t('cat_icon')%><br>
                <%= c.text_field  :icon %>
        </div>


        <%= c.hidden_field(:created_at, :value =>Time.now) %>
        <%= c.hidden_field(:updated_at, :value =>Time.now) %>

              <p>
                <%= c.button t('create'), :type=>'button', :onclick=>'if(validate()){submit();};' %>
              </p>
     </div>
    <% end %>
  </div>
</div>

<script>
  function validate(){
    var name, icon;
    // Get the value of the input field with id="name"
    name = document.getElementById('category_name').value;
    // Get the value of the input field with id="mail"
    icon = document.getElementById('category_icon').value;

    // Validate
    return ((name!='') && (icon!=''))
  }

</script>