<p>
  <strong><%= t('category') %>:</strong>
  <%= @category.name %>
</p>

<p>
  <strong><%= t('categories.icon') %>:</strong>
  <%= @category.icon %>
</p>

<p>
  <strong><%= t('categories.created') %>:</strong>
  <%= @category.created_at %>
</p>
<p>
  <strong><%= t('categories.updated') %>:</strong>
  <%= @category.updated_at %>
</p>


<%= link_to t('people'), me_people_path %>
<%= link_to t('categories'), categories_path %>