<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>


      <div id="navigation-logos" class="collapse nav navbar-nav navbar-collapse">
        <%= image_tag "logos/moove-it-logo.png" %>
        <%= image_tag "logos/alfred-logo.png" %>
      </div>


      <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav left-menu">
                <li class="active">
                  <%= link_to root_path, "data-toggle": "tooltip", "data-placement": "bottom",title: "Inicio" do %>
                      <span class="glyphicon glyphicon-home"></span>
                  <% end %>
                  <%= link_to dashboard_index_path, "data-toggle": "tooltip", "data-placement": "bottom",title: "Dashboard" do %>
                      <span class="glyphicon glyphicon-th"></span>
                  <% end %>

                  <% if current_user_admin? %>

                    <%= link_to '/people', "data-toggle": "tooltip", "data-placement": "bottom",title: "Personas" do %>
                      <span class="glyphicon glyphicon-user"></span>

                    <% end %>

                    <%= link_to categories_path, "data-toggle": "tooltip", "data-placement": "bottom",title: "Categorías"  do %>
                      <span class="glyphicon glyphicon-list"></span>
                    <% end %>

                  <% end %>

                  <%= link_to  '/projects', "data-toggle": "tooltip", "data-placement": "bottom",title: "Proyectos" do %>
                      <span class="glyphicon glyphicon-send"></span>
                  <% end %>

                  <%= link_to milestones_report_path, "data-toggle": "tooltip", "data-placement": "bottom",title: "Hitos" do %>
                      <span class="glyphicon glyphicon-flag"></span>
                  <% end %>

                </li>
            </ul>

          <ul class="nav navbar-nav navbar-right right-menu">
            <% if current_user %>
                <li class="logout">
                  <%= current_person.name %>
                  <%= link_to :controller => 'google', :action => 'signout' do %>
                    <span class="glyphicon glyphicon-off"></span>
                  <% end %>
                </li>
            <% end %>
          </ul>

            <form id="nav-search-form" class="navbar-form navbar-right search" role="search">
                <button type="submit" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-search"></span></button>
                <div class="form-group">
                    <input type="text" id="nav-search"  class="form-control" placeholder="<%= t('search') %>" autocomplete="off">
                </div>
            </form>




        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
